/*Text*/
h1 {
    font-size: 52px;
}

h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
    margin: 20px 0 10px;
}

h4 {
    font-size: 22px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
p{
    font-size: 16px;
    line-height: 1.6180em;
}


/*Video Setup*/
.video_background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    right: 0;
    }

/*Main*/
.cover{
    position: absolute;
    background-color: #ffaaaa;
    opacity: 0.35;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
}

/* Components */

.container {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    z-index: 5;
}

.catchphrase {
    font-size: 28px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
    text-align: center;
    margin-top: 50px;
    min-height: 140px;   
}

/* Navbar */

.navbar{
    border: 0 none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.dropdown-menu{
    background-color: #E5E5E5;
    height: 1px;
    margin: 8px 15px;
    right: 0;
    left: auto;
    padding: 0;
    z-index: 9000;
    position: absolute;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    transform: scale(1);
    opacity: 1;
}


